@{
    if(ViewBag.Entered)
        Layout = "~/Views/Shared/_Layout2.cshtml";
    else
        Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.openedView = "index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/css/site.css")" />
    <title>Гостиница "Lord of the winds"</title>
</head>
<body>
    <div class="index-img"><img src="@Url.Content("~/Images/hotel.png")" alt="" /></div>
    <div class="index-btn">
        <a href="/Home/Booking"><font class="upmenu">ЗАБРОНИРОВАТЬ</font></a>
    </div>
    <div class="index-text" align="center">
        <font class="upmenu">
            <p>Добро подаловать на официальный сайт нашего отеля! Lord Of The Wind был основан в 1999 году в прекрасном городе Севастополь. За годы нашего существования мы существенно изменились, но неизменным осталось одно - для нас всегда на первом месте стоит качество предоставляемых нами услуг и стремлению становиться лучше для Вас.</p>
            <p>Находясь здесь, на этом сайте, Вы можете из любой точки земного шара получить всю необходимую информацию о нашем отеле. Благодаря нашему сайту Вы сможете узнать о нас и наших услугах, познакомиться с отзывами, оставленными реальными гостями нашего отеля. Ещё больше возможностей доступно авторизованным пользователям.</p>
            <p>В личном кабинете Вы сможете бронировать номера и заказывать дополнительные услуги, а также отслеживать все бронирования, совершённые вами. Кроеме того, если Вы передумали, у Вас есть право отменить бронирование не позднее чем за 72 часа с момента его оформления на сайте. При этом мы гарантируем Вам возвращение полной стоимости выбранных вами услуг, включая оплату за проживание на весь период. Если Выши права были нарушены, или у вас возникли вопросы, Вы в любое время можете написать нашему агенту техподдержки и Вам обязательно ответят.</p>
            <p>Мы ценим каждого нашего гостя и всегда готовы сделать ваш отдых самым прекрасным и незабываемым.</p>
        </font>
        <div align="right"><font class="index-font1">С уважением, всегда Ваш Lord Of The Wind Hotel!</font></div>
    </div>
</body>
</html>
